# Milestone 1

'Andik Al Fauzi - FTDS-RMT-018'

## Description

### Objective

`Write your objective here`

### Problem Statement

1. Buat Fungsi untuk menghitung Rumus Hambatan dan Daya
2. Buat Kolom Baru untuk simpan hasil dari perhitungan rumus
3. Hitung nilai  rata- rata kapasitas arus

## Working Area

```txt
Put your code, analysis, everything below this line

Make sure to check everything the rubric requires before you submit
```

In [174]:
import pandas as pd
import numpy as np

In [175]:
df = pd.read_excel('NMC1-9.xlsx')

In [176]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90982 entries, 0 to 90981
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   time(s)      90982 non-null  int64
 1   V_m          90982 non-null  float64
 2   Current (A)  90982 non-null  float64
 3   Cycle        90982 non-null  int64
 4   Cap          90982 non-null  float64
dtypes: float64(3), int64(2)
memory usage: 3.5 MB

In [177]:
df.head()

   time(s)    V_m  Current (A)  Cycle       Cap
0        0  4.098        0.997      1  2.840817
1        1  4.096        0.998      1  2.840817
2        2  4.094        0.999      1  2.840817
3        3  4.093        0.998      1  2.840817
4        4  4.092        0.999      1  2.840817

In [178]:
copyDF = df.copy()

# Tidak ada data yang null

# 1. Fungsi untuk menghitung Rumus Hambatan dan Daya

In [179]:
# Rename Kolom V-M to Volt

copyDF = copyDF.rename(columns={'V_m' : 'Volt'})

In [180]:
# Rename Kolom Current (A) to Ampere

copyDF = copyDF.rename(columns={'Current (A)' : 'Ampere'})

In [181]:
copyDF.shape

(90982, 5)

In [182]:
copyDF.head()

   time(s)   Volt  Ampere  Cycle       Cap
0        0  4.098   0.997      1  2.840817
1        1  4.096   0.998      1  2.840817
2        2  4.094   0.999      1  2.840817
3        3  4.093   0.998      1  2.840817
4        4  4.092   0.999      1  2.840817

In [183]:
copyDF.tail()

       time(s)   Volt  Ampere  Cycle      Cap
90977    90977  2.506   1.002      9  2.77018
90978    90978  2.504   1.002      9  2.77018
90979    90979  2.502   1.002      9  2.77018
90980    90980  2.500   1.002      9  2.77018
90981    90981  2.497   1.002      9  2.77018

In [184]:
copyDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90982 entries, 0 to 90981
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   time(s)  90982 non-null  int64
 1   Volt     90982 non-null  float64
 2   Ampere   90982 non-null  float64
 3   Cycle    90982 non-null  int64
 4   Cap      90982 non-null  float64
dtypes: float64(3), int64(2)
memory usage: 3.5 MB

In [185]:
copyDF.describe()

            time(s)          Volt        Ampere         Cycle           Cap
count  90982.000000  90982.000000  90982.000000  90982.000000  90982.000000
mean   45490.500000      3.607666      0.999264      4.978699      2.806214
std    26264.385433      0.322777      0.001997      2.582135      0.023283
min        0.000000      2.497000      0.993000      1.000000      2.770180
25%    22745.250000      3.422000      0.997000      3.000000      2.786860
50%    45490.500000      3.636000      0.999000      5.000000      2.804878
75%    68235.750000      3.868000      1.001000      7.000000      2.823520
max    90981.000000      4.114000      1.003000      9.000000      2.840817

In [186]:
copyDF.index

RangeIndex(start=0, stop=90982, step=1)

In [187]:
copyDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90982 entries, 0 to 90981
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   time(s)  90982 non-null  int64
 1   Volt     90982 non-null  float64
 2   Ampere   90982 non-null  float64
 3   Cycle    90982 non-null  int64
 4   Cap      90982 non-null  float64
dtypes: float64(3), int64(2)
memory usage: 3.5 MB

2. Buat Kolom Baru untuk simpan hasil dari perhitungan rumus

In [188]:
# Define Rumus Hambatan

def hambatan(row) :
  nValue = copyDF.Volt/copyDF.Ampere
  return nValue

In [189]:
# Define Rumus Daya

def daya(row) : 
  nValue = copyDF.Volt*copyDF.Ampere
  return nValue

In [190]:
# Save value from calculation

nValue=[]

In [191]:
# Looping and Function 

for i in copyDF.Cap :
  if i >= 2.5 : # Jika nilai kolom Cap lebih dari 2.5 maka menggunakan fungsi Daya
    nValue = daya(i)
  elif i <= 2.5 :
    nValue = hambatan(i) # Jika nilai kolom Cap kurang dari 2.5 makan menggunakan fungsi Hambatan

In [192]:
# Print Value from Function

print(nValue)

0        4.085706
1        4.087808
2        4.089906
3        4.084814
4        4.087908
           ...
90977    2.511012
90978    2.509008
90979    2.507004
90980    2.505000
90981    2.501994
Length: 90982, dtype: float64

In [193]:
# Inserting data calculation

copyDF['R/P'] = nValue

In [194]:
# Cek data Value from Calculation
copyDF.loc[copyDF['Cap'] >= 2.5]

       time(s)   Volt  Ampere  Cycle       Cap       R/P
0            0  4.098   0.997      1  2.840817  4.085706
1            1  4.096   0.998      1  2.840817  4.087808
2            2  4.094   0.999      1  2.840817  4.089906
3            3  4.093   0.998      1  2.840817  4.084814
4            4  4.092   0.999      1  2.840817  4.087908
...        ...    ...     ...    ...       ...       ...
90977    90977  2.506   1.002      9  2.770180  2.511012
90978    90978  2.504   1.002      9  2.770180  2.509008
90979    90979  2.502   1.002      9  2.770180  2.507004
90980    90980  2.500   1.002      9  2.770180  2.505000
90981    90981  2.497   1.002      9  2.770180  2.501994

[90982 rows x 6 columns]

In [195]:
copyDF.loc[copyDF['Cap'] <= 2.5]

Empty DataFrame
Columns: [time(s), Volt, Ampere, Cycle, Cap, R/P]
Index: []

In [196]:
copyDF

       time(s)   Volt  Ampere  Cycle       Cap       R/P
0            0  4.098   0.997      1  2.840817  4.085706
1            1  4.096   0.998      1  2.840817  4.087808
2            2  4.094   0.999      1  2.840817  4.089906
3            3  4.093   0.998      1  2.840817  4.084814
4            4  4.092   0.999      1  2.840817  4.087908
...        ...    ...     ...    ...       ...       ...
90977    90977  2.506   1.002      9  2.770180  2.511012
90978    90978  2.504   1.002      9  2.770180  2.509008
90979    90979  2.502   1.002      9  2.770180  2.507004
90980    90980  2.500   1.002      9  2.770180  2.505000
90981    90981  2.497   1.002      9  2.770180  2.501994

[90982 rows x 6 columns]

# 3. Hitunglah rata-rata nilai kapasitas untuk arus = 1 Ampere dan cycle ganjil.

In [197]:
copyDF1 = copyDF.loc[(copyDF['Ampere'] == 1) & (copyDF['Cycle'] % 2 != 0)]

In [198]:
copyDF1

       time(s)   Volt  Ampere  Cycle       Cap    R/P
15          15  4.085     1.0      1  2.840817  4.085
19          19  4.083     1.0      1  2.840817  4.083
20          20  4.083     1.0      1  2.840817  4.083
21          21  4.082     1.0      1  2.840817  4.082
31          31  4.079     1.0      1  2.840817  4.079
...        ...    ...     ...    ...       ...    ...
90909    90909  2.640     1.0      9  2.770180  2.640
90923    90923  2.615     1.0      9  2.770180  2.615
90937    90937  2.589     1.0      9  2.770180  2.589
90949    90949  2.565     1.0      9  2.770180  2.565
90967    90967  2.528     1.0      9  2.770180  2.528

[6830 rows x 6 columns]

In [199]:
# Make sure there's no data wrong, where Ampere !=1
copyDF1.loc[(copyDF1['Ampere'] != 1)]

Empty DataFrame
Columns: [time(s), Volt, Ampere, Cycle, Cap, R/P]
Index: []

In [200]:
# Make sure there's no data wrong, where Even in Cycle

copyDF1.loc[(copyDF1['Cycle'] % 2 == 0)]

Empty DataFrame
Columns: [time(s), Volt, Ampere, Cycle, Cap, R/P]
Index: []

In [201]:
# Find the Average

averageDF = copyDF1['Cap'].mean()
averageDF

2.8064845553927484

## Conclusions, Assumptions, Overall Analysis

`Berikut Beberapa kesimpulan yang didapat`

1. Jawaban nomor 1 adalah berikut, yaitu define fungsi hambatan dan daya

In [202]:
# Funsi Hambatan

def hambatan(row) :
  nValue = copyDF.Volt/copyDF.Ampere # Pembagian antara kolom Volt dengan Ampere
  return nValue

# Fungsi Daya

def daya(row) : 
  nValue = copyDF.Volt*copyDF.Ampere # Perkalian antara kolom Volt dengan Ampere
  return nValue

# 2. Jawaban Nomor 2 adalah menampilkan hasil perhitungan dari Nomor 1

In [203]:
copyDF

       time(s)   Volt  Ampere  Cycle       Cap       R/P
0            0  4.098   0.997      1  2.840817  4.085706
1            1  4.096   0.998      1  2.840817  4.087808
2            2  4.094   0.999      1  2.840817  4.089906
3            3  4.093   0.998      1  2.840817  4.084814
4            4  4.092   0.999      1  2.840817  4.087908
...        ...    ...     ...    ...       ...       ...
90977    90977  2.506   1.002      9  2.770180  2.511012
90978    90978  2.504   1.002      9  2.770180  2.509008
90979    90979  2.502   1.002      9  2.770180  2.507004
90980    90980  2.500   1.002      9  2.770180  2.505000
90981    90981  2.497   1.002      9  2.770180  2.501994

[90982 rows x 6 columns]

# 3. Nilai rata-rata dari Data Cap : 2.8064845553927484

In [204]:
averageDF

2.8064845553927484